* {
    box-sizing: border-box;
  }

body {
    font-size: 16px;
    color: #fff;
    background-color: #76d886;
    font-family: 'Oxygen', sans-serif;
  }
  .container h1{
      margin-bottom: 40px;
  }
    
  #header-nav {
    background-color: #413c3c;
    border-radius: 0;
    border: 0;          
  }
  
  .navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: white;
    font-size: 1.5em;    
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  #nav-list {
    padding-top: 0px;
    padding-bottom: 0px;    
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;      
  }

  #nav-list a {
    color: white;
    text-align: center;        
  }

  #nav-list a:hover {
    background: #E7E7E7;
    color: black;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid white;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
    
  #menu-category{
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(209, 196, 196);    
    color: black;
    padding: 10px;
  }